body {
  font-family: sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}
#title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
}

nav a {
  /* display: flex;
  align-items: center; */

  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#jeans {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

/* Cart Styles */
.cart-product-image {
  width: 75px;
}

.cart-list-item {
  list-style: none;
  padding: 15px;
  border: 1px black solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 15px auto;
  border-radius: 5px;
}

.product-in-cart-description {
  flex: 2;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-button {
  flex: 1;
  font-size: x-small;
}

.cart-button button {
  width: 40px;
  font-size: 20px;
}

.cart-button button:hover {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👖</text></svg>")
      16 0,
    auto;
  /*!emojicursor.app*/ /* might be fun to put in a "jeans" icon on hover! */
  box-shadow: 1px 1px 2px black;
}

.cart-product-quantity {
  font-size: smaller;
}
